[submodule "04_PROJETO_WIREFRAME"]
	path = 04_PROJETO_WIREFRAME
	url = git@github.com:nathaliaveneziano/codeboost_projeto-wireframe.git
[submodule "05_SASS/PROJETO_KINGHOST"]
	path = 05_SASS/PROJETO_KINGHOST
	url = git@github.com:nathaliaveneziano/codeboost_projeto-sass.git
[submodule "06_PROJETO_NEON"]
	path = 06_PROJETO_NEON
	url = git@github.com:nathaliaveneziano/codeboost_projeto-neon.git
[submodule "07_PROJETO_NEON_WP/neon-theme"]
	path = 07_PROJETO_NEON_WP/neon-theme
	url = git@github.com:nathaliaveneziano/codeboost_projeto-neon-wp.git
