.s-hero {
  width: 100%;
  height: 800px;
  background-color: $main-color;

  .text {
    h1 {
      color: $color-text;
    }

    p {
      color: $color-text;
    }
  }

  .image {
    width: 100px;
    height: 100px;
    background-color: $brand-color;
    margin-bottom: 20px;
  }

  button {
    background-color: $brand-color;
    border: none;
    padding: 20px 30px;
    font-size: 22px;
    color: $color-text;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: blue;
    }

    &:hover {
      background-color: red;
    }
  }
}
