* {
  color: #fff;
}

body {
  background: #050110;
}

section {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

section .square {
  background-color: #1c1824;
  width: 33%;
  height: 400px;
}