:root {
  --cor-primaria: red;
  --cor-secundaria: blue;
}

section {
  width: 100%;
  height: 500px;
  background-color: var(--cor-primaria);
}

section .square {
  width: 200px;
  height: 200px;
  background-color: var(--cor-secundaria);
}
