:root {
  --black: #040405;
  --gray: #1c1824;
  --white: #ffffff;
  --pink: #f67acb;
  --purple: #5b1fa6;
}

* {
  font-family: 'Atyp BL Text';
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--black);
}

@font-face {
  font-family: 'Atyp BL Text';
  src: url('./fonts/AtypBLText-Regular.woff2') format('woff2'),
    url('./fonts/AtypBLText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp BL Text';
  src: url('./fonts/AtypBLText-Medium.woff2') format('woff2'),
    url('./fonts/AtypBLText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp BL Text';
  src: url('./fonts/AtypBLText-Bold.woff2') format('woff2'),
    url('./fonts/AtypBLText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Atyp BL Text';
  src: url('./fonts/AtypBLText-Semibold.woff2') format('woff2'),
    url('./fonts/AtypBLText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

h1 {
  color: var(--white);
  text-align: center;
  font-size: 4.5rem;
}

main {
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  /* row (padrao) | column | row-reverse | column-reverse */
  flex-direction: row;
}

main div {
  width: 150px;
  height: 150px;
  background-color: var(--gray);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: var(--white);
  font-weight: 500;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
